@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.main {
    display: flex;
    width: 1000px;
    height: fit-content;
    background-color: rgb(236, 199, 156);
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.imageContainer {
    display: flex;
    align-items: center;
    img {
        width: 400px;
        height: 300px;
    }
}

.container {
    margin-left: 20px;
}

.infoWrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.price {
    margin-bottom: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

.discountPercentage {
    margin-bottom: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #aa0000;
}

.stock {
    margin-bottom: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0005aa;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.itemCountWrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btnCartWrap {
    margin: 40px;
    display: flex;
    justify-content: center;
}

.btnCart {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    color: #ffffff;
    background-color: #007c89;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;
    :hover {
        color: #ffffff;
        background-color: #006570;
    }

}