@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.main {
    width: 300px;
    height: fit-content;
    background-color: rgb(236, 199, 156);
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    transition-duration: 1s;
    cursor: pointer;
}

.imageContainer {
    display: flex;
    justify-content: center;
    img {
        width: 200px;
        height: 150px;
    }
}

.title {
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.price {
    margin-bottom: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
}